body, html{
    overflow-x: hidden;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:'Montserrat', sans-serif;
    margin: 0;
    min-height: 100vh;
}

body::-webkit-scrollbar{
    display: none;
}

#products {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto 50px;
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 25%;
    box-sizing: border-box;
    padding: 15px;
    transition: width 0.3s ease;
}

.product img {
    width: 100%;
    height: auto;
    display: block;
}

.colors {
    display: flex;
    gap: 8px;
    margin: auto;
    z-index: 999999999999999999999 !important;
    justify-content: center;
}

.color-dot {
    width: 18px;
    height: 18px;
    border: 2px solid rgb(226, 226, 226);
    z-index: 999999999999999999999 !important;
    box-sizing: border-box;
    outline: 1px solid black;
    cursor: pointer;
}


#nav{
    width: 100%;
    height: fit-content;
    margin-top: 30px;
}

#nav img{
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
}

#nav a{
    width: fit-content;
    height: fit-content;
    display: block;
    margin: auto;
}

.product-image img {
    display: block;
    width: 100%;
}

*{
    font-family:'Montserrat', sans-serif; 
}


.description{
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    margin-top: 30px;
    color: black;
}

a{
    text-decoration: none;
}

.changeWidthPlus, .changeWidthMinus{
    font-size: 45px;
    width: 45px;
    height: 45px;
    z-index: 999999999 !important;
    cursor: default;
    transition: width 0.3s ease;
}

.changeWidthMinus{
    display: none; 
}

#changeWidth{
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    z-index: 999999999 !important;
}

.changeWidthMinus {
    position: relative;
    top: -4px;
}

#menu{
    height: 0;
    width: 200px;
    position: relative;
    top: 150px;
    color: black;
    margin-left: 20px;
    font-size: 20px;

}

#menu div{
    width: 200px;
}

#menu a{
    color: black;
    display: none;
    margin: 20px 0px 0px 0px;
}

#menu p {
    margin: auto;
    text-align: center;
    font-size: 15px;
    color: red;
    font-weight: bold;
}

#menu p:hover{
    text-decoration: underline;
}

#showMenu{
    width: 0;
    height: 0;
    position: relative;
    margin-left: 20px;
    top: 105px;
}

#showMenuButton{
    font-size: 40px;
    margin: 0;
    text-align: left;
    color: black;
    cursor: pointer;
}
@media (max-width: 768px) {
    #products{
        margin: 50px auto 50px;
    }
    .product {
        width: 50%;
        margin: -40px 0 30px 0
    }
    .changeWidthPlus, .changeWidthMinus, #changeWidth{
        display: none; 
    }

}


@media (max-width: 1100px) and (min-width: 769px) {
    #products{
        margin: 50px auto 50px;
    }
    .product {
        width: 33.3%;
        margin: -40px 0px 30px 0px
    }
    .changeWidthPlus, .changeWidthMinus, #changeWidth{
        display: none; 
    }
}


